h1 {
    text-decoration: underline;
    font-size:xx-large;
}
p {
    font-style: italic;
    font-size: large;
}
p1 {
    font-size: medium;
    font-style: oblique;
}
p2 {
    font-size: large;
    text-decoration: double;
    text-decoration-color: white;
}

.cajadebusqueda {
    margin-left: 30%;
}
.cuadroPokemon {
    margin: 20%;
}
.infoPokemon{
    border-style: groove;
    border: 25xp;
    border-radius: 4px;
    border-color:red;
    margin: auto;
    padding: 5px;
    background-color: black;
    color:white;
}
.experiencia {
    border-style: groove;
    border: 25xp;
    border-radius: 4px;
    border-color:black;
    margin: auto;
    padding: 8px;
    background-color:red;
    color:white;
}
.habilidades {
    border-style:double;
    border: 25xp;
    border-radius: 4px;
    border-color:white;
    margin: auto;
    padding: 10px;
    background-color: black;
    color:red;
}
