* {
    font-family: 'Roboto', sans-serif;
}

.fondo {
    background-color: red;
    border-radius: 4px;
    height: 65px;
    width: 100%;
}

.header {
    background-color: black;
    border-radius: 4px;
    height: 35px;
    width: 75%;
    margin-left: 12%;
    padding: 15px;
    box-sizing: content-box;
}

.footer {
    justify-content: center;
    padding: 0;
    background-color: rgb(22, 22, 23);
    color: crimson;
    box-sizing: content-box;
    font-size: large;
}

a {
    background-color: rgb(225, 0, 0);
    border-radius: 4px;
    margin-left: 12%;
    padding: 4px;
    color: white;
    text-decoration: none;

}

body {
    /*background-size:cover;
    background-image:image-set("Img/Fondo.jpg");*/
    background-color: rgb(92, 92, 92);
}

.quienessomos {
    width: fit-content;
    border-radius: 4px;
    padding: 4px;
    background-color: red;
    color: white;
}

.contenido {
    font-size: large;
}

@media only screen and (max-width:960px) {
    .contenido {
        font-size:medium;
    }
    .footer {
        font-size:medium; 
    }
    a {
        margin-right:4%;
        margin-left:8%;
        padding: 2px;     
    }
    .header {
        height:35px;
        width:80%;
        margin-left:10%;
        padding:10px;
        
    }
}
@media only screen and (max-width:720px) {
    .contenido {
        font-size:small;
    }
    .footer {
        font-size:small; 
    }
    .fondo {
        background-color: black;
    }
    a {
        margin-right:4%;
        margin-left:4%;
        padding: 3px;     
    }
    .header {
        height:35px;
        width:100%;
        margin-left:4%;
        padding:10px;
        
    }
}