button {
    width: 160px;
    border: none;
    height: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
}

button:active {
    box-shadow: none;
}

h2 {
    background-color: rgb(159, 189, 105);
    border-style: double;
    font-size: large;
    width: 70%;
    /* height:20vh; */
    text-align: center;
    margin: 0px 15%;
    padding: 0%;
}

h1 {
    text-align: center;
}


/*-----------------------------*/

button {
    width: 160px;
    border: black;
    border-style: solid;
    border-width: 0.4px;
    height: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    background-color: red;
    margin-left: 80%;
    margin-top: 50px;
}

button:active {
    box-shadow: none;
}

button:hover {
    background-color: darkred;
    color: white;
}

h2 {
    background-color: red;
    border-style: double;
    font-size: large;
    width: 70%;
    /* height:20vh; */
    text-align: center;
    margin: 0px 15%;
    padding: 0%;
}

h1 {
    text-align: center;
}

table {
    background-color: grey;
}

body {
    border-color: black;
}