.fondo {
    background-color: red;
    border-radius: 4px;
    height: 65px;
    width: 100%;
}
.header {
    background-color:black;
    border-radius: 4px;
    height:35px;
    width:75%;
    margin-left:12%;
    padding: 15px;
    box-sizing:content-box;
    font-family: 'Roboto'
}

.footer {
    justify-content: center;
    margin-top: 90%;
    padding: 0;
    background-color: rgb(22, 22, 23);
    color: crimson;
    box-sizing:content-box;
    font-family:'Roboto';
    font-size:medium; 
}

a {
    background-color: rgb(225, 0, 0);
    border-radius: 4px;
    margin-left: 12%;
    padding: 4px;
    color: white;
    font-size: medium;
    text-decoration: none;

}
body{
    background-size:cover;
    background-image:image-set("Img/Fondo.jpg");
}