.header {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto'
}
.boton {
    background-color: rgb(225, 0, 0);
    border-radius: 4px;
    padding: 4px;
    color: white;
    text-decoration: none;

}
.footer {
    margin: 0;
    padding: 0;
    background-color: darkblue;
    color: crimson;
    box-sizing:content-box;
    font-family:'Roboto';
    font-size:medium; 
}
body{
    background-size:cover;
    background-image:image-set("Img/Fondo.jpg");
}