{% extends "layout.html" %}

{% block title %}Socio borrado corectamente!{% endblock %}
{% block content %}
<div class="container mx-auto">
    <h1><strong>Socio borrado correctamente!</strong></h1>
    <br>
    <div class="opciones d-flex w-50">
    <p >Borrar otro usuario</p><span><a href="{{url_for("borrar_socio")}}">❌</a></span>
    </div>
    <br>
    <div class="opciones d-flex w-50 ">
    <p>Volver al inicio</p><span><a href="{{url_for("index")}}">🏠</a></span>
    </div>
</div>
{%endblock%}