{% extends "layout.html" %}
{%block head%}
{{super()}}
<script src={{url_for('static', filename='js/calcular_edad.js')}}></script>
{%endblock%}
{% block title %}Formulario de Inscripcion{% endblock %}
{% block content %}
<div class="container mx-auto">
    <h1>Socio adherido correctamente!</h1>
    <br>
    <div class="opciones d-flex w-50">
    <p >Adherir otro usuario</p><span><a href="{{url_for("formulario_socio")}}">➕</a></span>
    </div>
    <br>
    <div class="opciones d-flex w-50 ">
    <p>Volver al inicio</p><span><a href="{{url_for("index")}}">🏠</a></span>
    </div>
</div>
{%endblock%}